@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap');
@import "tailwindcss";


/* @import "tailwindcss/base";
@import "tailwindcss/components"; */

:root {
  --color-primary: #4f46e5;
  --color-secondary: #6366f1;
  --color-accent: #a78bfa;
  --color-background: #f3f4f6;
  --color-text: #111827;
  --color-border: #d1d5db;
  --color-dark: #0f172a;      
  --color-dark-light: lab(7.96% 3.32 -14.07);      
  --color-neon: #ffd700; 
  /* #00ff94;        */
  --color-neonLight: #ffd90078;
}

body {
  font-family: 'inter', sans-serif;
  background-color: var(--color-dark);
}

.inter{
    font-family: 'Inter', sans-serif;
}

.orbitron{
    font-family: 'Orbitron', sans-serif;
}

.space-grotesk{
    font-family: 'Space Grotesk', sans-serif;
}

.bg-dark{
    background-color: var(--color-dark);
}

.color-dark{
    color: var(--color-dark);
}

.border-dark{
    border-color: var(--color-dark);
}

/* .text-dark{
    color: var(--color-dark);
} */

.bg-darkLight{
    background-color: var(--color-dark-light);
}

.bg-neonLight{
    background-color: var(--color-neonLight);
}

.color-neonLight{
    color: var(--color-neonLight);
}

.border-neonLight{
    border-color: var(--color-neonLight);
}

.bg-neon{
    background-color: var(--color-neon);
}

.text-neonLight{
    color: var(--color-neonLight);
}

.border-neon{
    border-color: var(--color-neon);
}

.color-neon{
    color: var(--color-neon);
}

.text-neon{
    color: var(--color-neon);
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* .input {
   @apply bg-dark border border-neonLight text-white px-4 py-2 rounded focus:outline-none focus:border-neon transition;
}
.button {
  @apply bg-neon text-dark font-semibold py-2 px-4 rounded hover:bg-neonLight transition-colors duration-200;
} */

